extends layout

block content
  #todo-container.rel
    #todo-head
      #sub-head.rel
        input( id='search' type='text' placeholder='search')
        #day.abs 16 
        #month-year.abs August 2016
        #day-week.abs Monday
    
      div(class='abs',style='left:50%;width:88%;top:140px;min-height:70%')
        #todo-body.rel
            .todo
              h3.todo-title Meeting
              p.todo-body  Room 408, east 2 layer
              
            .todo
              h3.todo-title Meeting
              p.todo-body  Room 408, east 2 layer
